.container {
  background-color: #dee2e6;
  $container-max-width: ("fullhd", 300px);
}

.notification {
  background-color: $cyan;
}

.column__1 {
  background-color: royalblue;
}

.column__2 {
  background-color: #e64980;
}

.column__3 {
  background-color: #dee2e6;
}

.column__4 {
  background-color: #ffe066e8;
}

.column__5 {
  background-color: #66d9e8;
}

.column__6 {
  background-color: #20c997;
}
